<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


</select>
<form method="POST">



    <select name="class_card">
        <option value="" disabled>Класс карты</option>
        <option value="strength">Сила</option>
        <option value="agility">Ловкость</option>
        <option value="intellect">Интеллект</option>
        <option value="willpower">Сила воли</option>
        <option value="endurance">Выносливость</option>
        <option value="netural">Нейтральная</option>
        <input type="submit" name="btn" value="Класс карты">
    </select>

    <select name="type_card">
        <option value="" disabled>Тип карты</option>
        <option value="creature">Существо</option>
        <option value="action">Действие</option>
        <option value="item">Оружие</option>
        <option value="support">Поддержка</option>
        <input type="submit" name="btn" value="Тип карты">
    </select>

    <select name="rare">
        <option value="" disabled>Редкость карты</option>
        <option value="common">Обычная</option>
        <option value="rare">Редкая</option>
        <option value="epic">Эпическая</option>
        <option value="legendary">Легендарная</option>
        <option value="uniq_legendary">Юникальная легендарная</option>
        <input type="submit" name="btn" value="Редкость карты">
        </select>



    <select name="cost">
        <option value="" disabled>Стоимость карты</option>
        <option value="0-3">0-3</option>
        <option value="3-6">3-6</option>
        <option value="7-12">7+</option>
        <input type="submit" name="btn" value="Стоимость карты">
    </select>


</form>

</body>
</html>